# Telegram Bot Token (получить у @BotFather)
BOT_TOKEN=8509132748:AAFPaB2nyzKXyYHNpYXgEF4KkKLb2HFb72w

# ID администратора бота (твой Telegram ID)
ADMIN_ID=547486189

# ID канала для записи клиентов (с -100 префиксом)
CHANNEL_ID=-1003361340067

# Ссылка на канал для записи
CHANNEL_LINK=https://t.me/maniq_perevirka

# ID канала для публикации расписания (с -100 префиксом)
SCHEDULE_CHANNEL_ID=-1003361340067

# Часовой пояс (по умолчанию Europe/Kiev)
TIMEZONE=Europe/Kiev

# Путь к базе данных SQLite (по умолчанию data/bot.sqlite3)
DB_PATH=data/bot.sqlite3
